@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

nav{
    background-image:url("IMG_2894.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.6rem;
}
    

:root{
    --bs-body-text-align:justify;
    --bs-body-font-family:'Poppins';
    --bs-border-color: white;
}
.custom-small-text-font{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.custom-extr-small-text{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
}

.timeline-basic-example {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }

  .timeline-basic-example .timeline-item {
    position: relative;
  }

  .timeline-basic-example .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-basic-example .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
  }
.custom-section-container-width{
    min-width: 320px;
}
.custom-list-group-border-color{
    border-color: var(--bs-list-group-border-color);
}
a{
    color: #000;
}
/* .nav-bg{
    min-width: 320px;

    min-height: 400px;
} */

.custom-nav-xm{
 min-width: 360px;   
 max-width: 426px;
 margin: 0 ;
}
.icon-height-sm{
    height: 40px;
}
.wait{
    display: none;
}
.wait-md-cards{
    display: none;
}
@media only screen  and (min-width:375px){
    .custom-nav-xm{
        min-width: 385px;   
        margin: 0 ;
       }
      
}
    

/* Tablet */
@media (min-width: 768px) { 
    .custom-nav-xm{
        min-width: 760px;
        max-width: 760px;
       }
       .container{
        max-width: 790px;
       }
       .projects-sm{
        display: none;
       }
       .nav-image-space{
        height: 1200px;
       }
       .nav-sm{
        display: none;
       }
       nav{
        background-image: none;
       }
       img{
       object-fit:contain;
       border-radius: 2px;
    
       }
       .about-sm{
        display: none;
       }
       .projects-text-md{
        margin-top: 2em;
      
       }
       .projects-cards{
        margin-top: 3em;
       }
       .wait{
        display:block;
       }
       .wait-md-cards{
        display: flex;
       }
       .icons-height-sm{
        height: 60px;
       }
}